@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #282c34;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-content: center;
  height: 100vh;
  font-size: 1.6rem;
  user-select: none;
}

.container {
  height: 80vh;
  width: 50vh;
  background-color: #040404;
  border-radius: 1rem;
  padding: 1rem;
}

.calculator {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.8rem;
}

.output {
  grid-column: 1 / -1;
  text-align: right;
  font-size: 3rem;
}

.btn {
  display: grid;
  place-content: center;
  background-color: #040404;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0px 0px 15px -7px rgba(205, 212, 222, 0.75);
  -webkit-box-shadow: 0px 0px 15px -7px rgba(205, 212, 222, 0.75);
  -moz-box-shadow: 0px 0px 15px -7px rgba(205, 212, 222, 0.75);
}

.btn:hover {
  background-color: #686769;
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 57.5px;
  place-content: unset;
  align-items: center;
  padding-left: 2rem;
}

.orange {
  color: #d56b28;
}

.gray {
  color: #d56b28;
}

.display {
  font-size: 1.3rem;
}

/* colors */
/* 3a2bcf */
/* 3a2bcf */
/* 3a2bcf */
/* 3a2bcf */
